footer.credit
  .wrapper.wrapper--small
    p Made with <span role="img" aria-label="love">❤️</span> by <a href="https://zsolti.me">Zsolt Meszaros</a>. That lovely cloud icon is from <a href="http://www.flaticon.com" target="_blank">FlatIcon</a>, licensed by <a href="http://creativecommons.org/licenses/by/3.0/" target="_blank">CC 3.0 BY</a>.
.credit
